@import '/src/styles/base.scss';

.newly{
    margin-top: 30px;
    .title-newly{
        color: white;
    }
    .btn-container{
        display: flex;
        margin-top: 30px;
        margin-bottom: 2rem;
        justify-content: space-between;
        .btn-container-right{
            .btn-all{
                margin-left: 20px;
            }
            .btn-all.active{
                margin-left: 0;
            }            
        }
        

    }  
    .btn-all.active{
        background-color: #8B45CA;
        border: none;
    }
}
// newly Released
.grid-container-newly{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 5rem 5rem 5rem 5rem;
    column-gap: 2rem;
    justify-content: space-between;
    .grid-container-content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        .container-avatar{
            position: relative;
            width: 4rem;
            height: 4rem;
            .avatar-container{
                width: 100%;
                height: 100%;
            }
        }
        
        .grid-container-text,.grid-container-text h3, h4{
            width: 60%;
            min-width: 6em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .css-i4bv87-MuiSvgIcon-root{
            opacity: 0;
            color: white;
        }
        .playarrow{
            position: absolute;
            top: calc( (100% - 24px) / 2);
            left: calc((100% - 24px) / 2);
        }
    }
}

.btn-all{
    font-size: 0.8rem;
    font-weight: bold;
    width: 6.4rem;
    height: 1.6rem;
    text-align: center;
    border: 0.5px solid rgb(255, 255, 255, 0.1);
    color: white;
    border-radius: 1rem;
    background-color: rgb(255,255,255,0.01);
}    

.btn-all.sixe{
    border: none;
    background-color: transparent;
    .all{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $main-color-text;
        
    }
}

.grid-container-content:hover {
    background-color: $main-color-header;
    border-radius: 5px;
}

.grid-container-content:hover > .avatar-container{
    filter: brightness(50%);
}

.grid-container-content:hover > .css-i4bv87-MuiSvgIcon-root {
    opacity: 1;

}

.container-avatar:hover > .playarrow{
    opacity: 1;
}