@import '/src/styles/base.scss';

.container-chill-title{
    display: flex;
    justify-content: space-between;
}

.container-chill-item{
    margin-top: 30px;
    @include flexbox (flex, space-between,stretch );
    .li-chill-item{
        width: 18%;
        height: auto;
        position: relative;
        .background-chill{
            width: 100%;
            height: 220px;
            border-radius: 10px;
        }
        .description-chill{
            margin: 0;
            padding-top: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: white;
        }
    }
}

.container-scale{
    width: 100%;
    height: 220px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.background-chill:hover {
    transition: transform 1s;
    transform:  scale(1.1);
}

.container-scale:hover>.container-list-icon{
    transition: opacity 0.5s;
    opacity: 1;
}

.container-list-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    opacity: 0;
    height: auto;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    
}