html{
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin: 0;
}

a,li{
    list-style: none;
    text-decoration: none;
}

$main-color:#170F23;
$backgoundColor: rgba(255, 255, 255, 0.1);
$main-color-text:rgba(240, 248, 255, 0.674);
$main-color-header:hsla(0, 0%, 100%, 0.1);

@mixin flexbox ($display, $justify, $align){
    display:$display;
    justify-content:$justify ;
    align-items: $align;
}

button{
    border: none;
}