

.music-player{
    position: absolute;
    bottom: 0;
    z-index: 200;
    width: 100%;
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    background-color: #130C1C;
    .container-infor{
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
}

.musicplayer-avatar{
    width: 64px;
    height: 64px;
    border-radius: 5px;
    margin-right: 15px;
}

.container-information{
    margin-right: 30px;
    h4{
        color: white;
    }
    h5{
        color: rgba(255, 255, 255, 0.3);
    }
}

.container-item-midle{
    width: 40%;
    .container-list-icon-musicPlayer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-input-range{
        width: 100%;
        display: flex;
        margin-top: 10px;
        justify-content: center;
        align-items: flex-end;
        .myrange{
            width: 90%;
            height: 3px;
        }
    }
}

.container-list-icon-volume{
    display: flex;
    margin-right: 30px;
    align-items: center;
    height: 25px;
    .line-y{
        width: 1px;
        background-color: rgba(255, 255, 255, 0.3);
        height: 90%;
        margin: 0 10px;
    }
}

.my-range{
    margin-left: 20px;
    width: 80px;
    height: 3px;
}