@import '/src/styles/base.scss';

.slide-item-container{
    width: 100%;
    height: 13rem;
    .slide-items{
        position: relative;
    }
}
.slide-items{
        align-items: center;
        justify-content: space-between;
        display: flex;
        position: relative;
        transform-style: preserve-3d;
        perspective: 1000px;
        margin: 10px 0 20px 10px;
        padding-left: 5px;
        height: 100%;
        transition: height .2s;
    }

.item-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.next-carousel{
    margin-right: -22px !important;
}

.slide-item{
    margin-right: 5px;
    width: 33%;
    height: calc( width * 0.63);
    position: absolute;

}

.img{
    width: 21.5rem;
    height: 13rem;
    border-radius: 10px;
}

//transition slideshow

.slick-slider{
    height: 100%;
    position: static;
    .slick-prev,.slick-next{
        opacity: 0;
    }
  }

.slick-slider:hover> .slick-next{
    transition: opacity 1s;
    opacity: 1;
}
.slick-slider:hover> .slick-prev{
    transition: opacity 1s;
    opacity: 1;
}

.slick-slide{
    margin-right: 0px;
}
.slick-list, .slick-track{
    height: 100% !important;
}

.slick-dots li button:before{
    color: aliceblue;
    font-size: 1rem;
}

//////

.container-image{
    width: 100%;
    height: 100%;
    min-height: 210px;
}

.image{
    width: 100%;
    height: 100%;
    margin: 0;
}